.main5{
    width: 1000px;
    height: 82px;
    margin: 20px auto;
    position: relative;
}
.main5>img{
    float: left;
    margin-left: 20px;
}
.main5>h3{

    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
}
.main5>h3>a{
    color: rgb(71, 198, 195);
}
.main5>div{
    position: absolute;
    left: 120px;
    bottom: 5px;
    font-size: 14px;
}