.main1{

    width: 1000px;
    height: 60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.main1>ul{

    list-style: none;
    overflow: hidden;
    line-height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}
.main1>ul>li{

    float: left;
    display: block;
    margin-right: 10px;
    text-align: center;
}
.main1>ul>li>img{

    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.main1>ul>li:not(:first-child){

    text-indent: 30px;
}